* {
  padding: 0px;
  margin: 0px;
}


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

button {
  background-color: blue;
  color: white;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding: 5px;
}

/* .description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
} */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#notes8am {
  display: inline-block;
  width: 80%;
  margin: 2px;
}

#textArea8am {
  display: inline-block;
  width: 100%;
  margin-left: 2px;
  margin-right: 2px;
  border: 2px solid black;
  background-color: gray;
}

#timeDisplay8am {
  display: inline-block;
  width: 10%;
  height: 72px;
  border: 2px dashed black;
  text-align: center;
  margin-top: 18px;
  padding-top: 25px;
}
#save8am {
  display: inline-block;
  width: 10%;
  height: 72px;
  padding: 5px;
  border: 2px solid black;
  margin: 2px;
  margin-top: 18px;
}

#timeBlock8am {
  display: flex;
  justify-content: center;
}

/*9am time block*/
#notes9am {
  display: inline-block;
  width: 80%;
  margin: 2px;
}

#textArea9am {
  display: inline-block;
  width: 100%;
  margin-left: 2px;
  margin-right: 2px;
  border: 2px solid black;
  background-color: gray;
}

#timeDisplay9am {
  display: inline-block;
  width: 10%;
  height: 72px;
  border: 2px dashed black;
  text-align: center;
  margin-top: 18px;
  padding-top: 25px;
}
#save9am {
  display: inline-block;
  width: 10%;
  height: 72px;
  padding: 5px;
  border: 2px solid black;
  margin: 2px;
  margin-top: 18px;
}

#timeBlock9am {
  display: flex;
  justify-content: center;
}


/*10am time block*/
#notes10am {
  display: inline-block;
  width: 80%;
  margin: 2px;
}

#textArea10am {
  display: inline-block;
  width: 100%;
  margin-left: 2px;
  margin-right: 2px;
  border: 2px solid black;
  background-color: gray;
}

#timeDisplay10am {
  display: inline-block;
  width: 10%;
  height: 72px;
  border: 2px dashed black;
  text-align: center;
  margin-top: 18px;
  padding-top: 25px;
}
#save10am {
  display: inline-block;
  width: 10%;
  height: 72px;
  padding: 5px;
  border: 2px solid black;
  margin: 2px;
  margin-top: 18px;
}

#timeBlock10am {
  display: flex;
  justify-content: center;
}

/*11am time block*/
#notes11am {
  display: inline-block;
  width: 80%;
  margin: 2px;
}

#textArea11am {
  display: inline-block;
  width: 100%;
  margin-left: 2px;
  margin-right: 2px;
  border: 2px solid black;
  background-color: gray;
}

#timeDisplay11am {
  display: inline-block;
  width: 10%;
  height: 72px;
  border: 2px dashed black;
  text-align: center;
  margin-top: 18px;
  padding-top: 25px;
}
#save11am {
  display: inline-block;
  width: 10%;
  height: 72px;
  padding: 5px;
  border: 2px solid black;
  margin: 2px;
  margin-top: 18px;
}

#timeBlock11am {
  display: flex;
  justify-content: center;
}

/*12pm time block*/
#notes12pm {
  display: inline-block;
  width: 80%;
  margin: 2px;
}

#textArea12pm {
  display: inline-block;
  width: 100%;
  margin-left: 2px;
  margin-right: 2px;
  border: 2px solid black;
  background-color: gray;
}

#timeDisplay12pm {
  display: inline-block;
  width: 10%;
  height: 72px;
  border: 2px dashed black;
  text-align: center;
  margin-top: 18px;
  padding-top: 25px;
}
#save12pm {
  display: inline-block;
  width: 10%;
  height: 72px;
  padding: 5px;
  border: 2px solid black;
  margin: 2px;
  margin-top: 18px;
}

#timeBlock12pm {
  display: flex;
  justify-content: center;
}

/*1pm time block*/
#notes1pm {
  display: inline-block;
  width: 80%;
  margin: 2px;
}

#textArea1pm {
  display: inline-block;
  width: 100%;
  margin-left: 2px;
  margin-right: 2px;
  border: 2px solid black;
  background-color: gray;
}

#timeDisplay1pm {
  display: inline-block;
  width: 10%;
  height: 72px;
  border: 2px dashed black;
  text-align: center;
  margin-top: 18px;
  padding-top: 25px;
}
#save1pm {
  display: inline-block;
  width: 10%;
  height: 72px;
  padding: 5px;
  border: 2px solid black;
  margin: 2px;
  margin-top: 18px;
}

#timeBlock1pm {
  display: flex;
  justify-content: center;
}

/*2pm time block*/
#notes2pm {
  display: inline-block;
  width: 80%;
  margin: 2px;
}

#textArea2pm {
  display: inline-block;
  width: 100%;
  margin-left: 2px;
  margin-right: 2px;
  border: 2px solid black;
  background-color: gray;
}

#timeDisplay2pm {
  display: inline-block;
  width: 10%;
  height: 72px;
  border: 2px dashed black;
  text-align: center;
  margin-top: 18px;
  padding-top: 25px;
}
#save2pm {
  display: inline-block;
  width: 10%;
  height: 72px;
  padding: 5px;
  border: 2px solid black;
  margin: 2px;
  margin-top: 18px;
}

#timeBlock2pm {
  display: flex;
  justify-content: center;
}

/*3pm time block*/
#notes3pm {
  display: inline-block;
  width: 80%;
  margin: 2px;
}

#textArea3pm {
  display: inline-block;
  width: 100%;
  margin-left: 2px;
  margin-right: 2px;
  border: 2px solid black;
  background-color: gray;
}

#timeDisplay3pm {
  display: inline-block;
  width: 10%;
  height: 72px;
  border: 2px dashed black;
  text-align: center;
  margin-top: 18px;
  padding-top: 25px;
}
#save3pm {
  display: inline-block;
  width: 10%;
  height: 72px;
  padding: 5px;
  border: 2px solid black;
  margin: 2px;
  margin-top: 18px;
}

#timeBlock3pm {
  display: flex;
  justify-content: center;
}

/*4pm time block*/
#notes4pm {
  display: inline-block;
  width: 80%;
  margin: 2px;
}

#textArea4pm {
  display: inline-block;
  width: 100%;
  margin-left: 2px;
  margin-right: 2px;
  border: 2px solid black;
  background-color: gray;
}

#timeDisplay4pm {
  display: inline-block;
  width: 10%;
  height: 72px;
  border: 2px dashed black;
  text-align: center;
  margin-top: 18px;
  padding-top: 25px;
}
#save4pm {
  display: inline-block;
  width: 10%;
  height: 72px;
  padding: 5px;
  border: 2px solid black;
  margin: 2px;
  margin-top: 18px;
}

#timeBlock4pm {
  display: flex;
  justify-content: center;
}

/*5pm time block*/
#notes5pm {
  display: inline-block;
  width: 80%;
  margin: 2px;
}

#textArea5pm {
  display: inline-block;
  width: 100%;
  margin-left: 2px;
  margin-right: 2px;
  border: 2px solid black;
  background-color: gray;
}

#timeDisplay5pm {
  display: inline-block;
  width: 10%;
  height: 72px;
  border: 2px dashed black;
  text-align: center;
  margin-top: 18px;
  padding-top: 25px;
}
#save5pm {
  display: inline-block;
  width: 10%;
  height: 72px;
  padding: 5px;
  border: 2px solid black;
  margin: 2px;
  margin-top: 18px;
}

#timeBlock5pm {
  display: flex;
  justify-content: center;
}